{% load static %}



<nav class="navbar navbar-expand-lg" style="padding-left: 43px;">
    <a href="{% url 'taskmanager:tasks' %}">
        <div class="main-menu-logo">
            <img class=".navbar-brand" style="height: 24px;width: auto;" src="https://planfix-avatar.storage.yandexcloud.net/leads/logo.svg?response-content-type=image%2Fsvg%2Bxml&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=IgwJfusuzEZ6c_gpDGgf%2F20220420%2Fru-central1%2Fs3%2Faws4_request&X-Amz-Date=20220420T115621Z&X-Amz-SignedHeaders=host&X-Amz-Expires=43359&X-Amz-Signature=016af648d5dab360c10f40fc2d56b1df18eff9d80316e9f13810338015a65c2e" alt="">
        </div>
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'taskmanager:tasks' %}">Задачи</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Документы</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Сотрудники</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Меню
        </a>
        <div class="dropdown-menu"  style="font-size: 14px;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
      <input style="font-size: 12px;border-radius: 18px;" class="form-control mr-sm-2" type="search" placeholder="Найти" aria-label="Search">
{#      <button style="font-size: 12px;"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}

    </form>
  </div>
</nav>