{% extends 'taskmanager/_base_task.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}

    <div class="card" style="width: 60%;margin: 1% auto;">
        <div class="card-body">
            <h3 class="card-title">Add new task</h3><br>
            <form method="POST" class="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-lg btn-outline-success">Save</button>
            </form>
        </div>
    </div>

{% endblock %}



{#                <div id="div_id_status" class="form-group">#}
{#                    <label for="id_status" class=" requiredField">#}
{#                        Status<span class="asteriskField">*</span>#}
{#                    </label>#}
{#                    <div>#}
{#                        <select name="status" class="select form-control" required="" id="id_status">#}
{#                            <option value="" selected="">---------</option>#}
{#                            {% for user in status_list %}#}
{#                                <option value="user">{{ user.1 }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div id="div_id_title" class="form-group">#}
{#                    <label for="id_title" class=" requiredField">#}
{#                        Title#}
{#                        <span class="asteriskField">*</span>#}
{#                    </label>#}
{#                    <div>#}
{#                        <input type="text" name="title" maxlength="200" class="textinput textInput form-control" required="" id="id_title">#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div id="div_id_author" class="form-group">#}
{#                    <label for="id_author" class=" requiredField">#}
{#                        Author<span class="asteriskField">*</span>#}
{#                    </label>#}
{#                    <div>#}
{#                        <select name="author" class="select form-control" required="" id="id_author">#}
{#                            <option value="" selected="">---------</option>#}
{#                            {% for users in users_list %}#}
{#                                <option value="users">{{ users.username }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#                <div id="div_id_executor" class="form-group">#}
{#                    <label for="id_executor" class=" requiredField">#}
{#                        Executor<span class="asteriskField">*</span>#}
{#                    </label>#}
{#                    <div>#}
{#                        <select name="executor" class="select form-control" required="" id="id_executor">#}
{#                            <option value="" selected="">---------</option>#}
{#                            {% for users in users_list %}#}
{#                                <option value="users">{{ users.username }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#                <div id="div_id_body" class="form-group">#}
{#                    <label for="id_body" class="">Description</label>#}
{#                    <div>#}
{#                        <textarea name="body" cols="40" rows="10" class="textarea form-control" id="id_body"></textarea>#}
{#                    </div>#}
{#                </div>#}
