html,
body {
  height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdfdfd;
    font-size: 14px;
}

*, p {
  margin: 0;
  padding: 0;
}

p {
    margin-bottom: 0;!important;
}

::-webkit-scrollbar { width: 0;}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.content {
  flex: 1 0 auto;
  justify-content: space-between;
  width: 100%;
  margin-top: 54px;
}

.sidebar {
  width: 10%;
  text-align: center;
  position: fixed;
  height: 900px;
}

.main {
    margin: 0 1% 0 15%;
}

.main-wrap {
    display: flex;
}

.main-list {
    width: 76%;
}

.add-news {
    margin: 1% auto;
    width: 70%;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

.sidebar .nav-item .nav-link {
    color: white;
    font-size: 20px;
}

.sidebar .nav-item .nav-link:hover {
    color: #28a745;
    /*font-size: 28px;*/
}

.main-btn {
    margin: 2% 5%;
}

.card-title a {
    text-decoration: none;!important;
    outline: none;!important;
    color: black;
}

.pagination {
    margin: 0 0 0 25px;
}

.container-login {
    margin: 6% auto;
    width: 500px;
}

.btn-login-registration {
    display: flex;
    justify-content: space-around;
}

.truncate-text {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text p {
    margin-bottom:  0;
}

.calendar_content.today:after {
    color: #28a745;!important;
}