{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}



{% block main %}

    <div class="main-list">
        <div class="card m-4">
            <div class="card-body">
                <h3 class="card-title">Add new news</h3><br>
                <form method="POST" class="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="save btn btn-lg btn-outline-success">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

        <div class="card m-4">
            <div class="card-body">
                <h3 class="card-title">Add new news</h3><br>
                <form method="POST" class="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="kdPqS5CotUcETiaEzUUtRxkLq82M9nMhkkglnmnhojPIzBFhd8EOZxzMfPR9JaDK">


        <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                Title<span class="asteriskField">*</span> </label> <div> <input type="text" name="title" maxlength="200" class="textinput textInput form-control" required="" id="id_title"> </div> </div> <div id="div_id_author" class="form-group"> <label for="id_author" class=" requiredField">
                Author<span class="asteriskField">*</span> </label> <div> <select name="author" class="select form-control" required="" id="id_author"> <option value="" selected="">---------</option> <option value="1">admin</option> <option value="2">user-1</option> <option value="3">user-2</option> <option value="5">yury</option> <option value="6">user-03</option> <option value="7">user-04</option> <option value="13">user-01</option> <option value="14">user-02</option>

</select> </div> </div> <div id="div_id_body" class="form-group"> <label for="id_body" class="">
                Body
            </label> <div> <textarea name="body" cols="40" rows="10" class="textarea form-control" id="id_body"></textarea> </div> </div>

                    <button type="submit" class="save btn btn-lg btn-outline-success">Save</button>
                </form>
            </div>
        </div>