{% extends '_base.html' %}
{% load static %}




{% block main %}

    <div class="main-wrap">
        <div class="main-list">
            {% for news in object_list %}
                <div class="card m-4">
                    <div class="card-body" style="padding: 1rem">
                        <h5 class="card-title"><p>{{ news.title }}</p></h5>
                        <p  class="card-text">{{ news.body|truncatewords:40 }}</p>
                        <div class="form-group" style="display: flex;margin-top: 1%;">
                            <img class="rounded-circle account-img" src="/media/{{ news.img_author }}" style="cursor: pointer;width: 50px;height: 50px;" alt="">
                            <div class="" style="margin-left: 2rem;">
                                <p style="font-style: italic;margin-bottom: 0;">Опубликовано: {{ news.publish|date:"d.m.Y H:i" }}</p>
                                <p style="font-style: italic;margin-bottom: 0;">Автор: {{news.author}}</p>
                            </div>
                        </div>
                        <p></p>
                        <a href="{% url 'news:detail_news' news.pk %}" class="btn btn-lg btn-outline-success">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="main-btn">
            <a href="{% url 'news:add_news' %}" class="btn btn-lg btn-outline-success">Добавить новости</a>


        </div>

    </div>


    {% block pagination %}
        {% include 'news/pagination.html'  with page=page_obj %}
    {% endblock %}

{%endblock %}