{% load static %}

    <ul class="navbar-nav mr-auto navbar-dark bg-dark h-100">
      <li class="nav-item" style="margin-top: 74px;">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news:news' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'todolist:TodoList' %}">Todolist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasksmanager:list_tasks' %}">TaskManager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item" style="margin-top: 150px;">
          {% if user.is_authenticated %}
              <div class="" style="text-align: center;">
                  <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;width: 100px;height: 100px;" alt=""/>
                  <a href="{% url 'accounts:users-profile' %}" class="nav-link">{{user.username}}</a>
                  <a href="{% url 'accounts:logout' %}" class="btn btn-outline-success my-2 my-sm-0">Log out</a>
              </div>
          {% else %}
              <div class="" style="text-align: center;">
                  <a href="{% url 'accounts:login' %}" class="btn btn-outline-success my-2 my-sm-0">Login</a>
              </div>
          {% endif %}
      </li>
    </ul>


