{% load static %}



    <ul class="navbar-nav mr-auto navbar-dark bg-dark h-100">
      <li class="nav-item" style="margin-top: 74px;">
        <a class="nav-link" href="{% url 'news' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Task manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>


