{% extends '_base.html' %}
{% load static %}


{% block main %}


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center" style="margin-bottom: 6rem;">
{#                <div class="col-md-6 text-center mb-5">#}
                    <h1 class="heading-section" style="font-size: 46px;">Welcome to my Blog !!</h1>
{#                </div>#}

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="calendar calendar-first" id="calendar_first">
                        <div class="calendar_header">
                            <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                             <h2 style="color: #28a745;"></h2>
                            <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="calendar_weekdays" style="background: #28a745;"></div>
                        <div class="calendar_content"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
