{% extends "users/base.html" %}
{% block content %}






                              Change Your Password

                            {% if form.errors %}


                                        {% for key, value in form.errors.items %}
                                            {{ value }}
                                        {% endfor %}


                                        ×


                            {% endif %}



                                    {% csrf_token %}



                                                Old Password









                                                New Password









                                                New Password Confirmation







                                                Update Password










{% endblock content %}
