{% extends "_base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block main %}

    <div class="form-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 pb-3">
                        <div class="card-header justify-content-center" style="width: 100%;">
                            <h3 class="font-weight-light my-4 text-center">Change Your Profile</h3>
                        </div>

                        <div class="row my-3" style="margin: 0 auto;">
                            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;" alt=""/>
                        </div>
                        {% if user_form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in user_form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="form-content" style="width: 76%;margin: 0 auto;">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="small mb-1">Username:</label>
                                    {{ user_form.username }}
                                    <label class="small mb-1">Email:</label>
                                    {{ user_form.email }}
                                </div>
                                <div class="form-group">
                                    <a href="{% url 'accounts:password_change' %}">Change Password</a>
                                    <hr>
                                    <label class="small mb-1">Change Avatar:</label>
                                    {{ profile_form.avatar }}
                                </div>
                                <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                                <br><br>
                                <div class="btn-save-and-reset" style="display: flex;justify-content: space-around;">
                                    <button type="submit" class="btn btn-lg btn-outline-success">Save Changes</button>
                                    <button type="reset" name="Reset" class="btn btn-lg btn-outline-success">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}